:root {
  font-family: sans-serif !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
}

#background-video{

width: 100%;
float: left;
top: 0;
z-index: -99;
padding: none;
opacity: 0.92;
    overflow: hidden;
    display: block;
position: fixed; /* optional depending on what you want to do in your app */


}
